<template name="eventDetails">
  <div class="row">
    <div class="col-md-9">
      <h1>
        {{ event.title }}
      </h1>
    </div>
    <div class="col-md-3">
      <div class="btn-group pull-right">
        {{#if currentUserIsMember event}}
          <a href="/events/update/{{ event._id }}" class="btn btn-default">
            Bearbeiten
          </a>
        {{/if}}
        {{#if event.responseRequired}}
          {{#if didNotStartYet}}
            <a href="/events/{{ event._id }}/respond" class="btn btn-default" id="respond">Antworten</a>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Datum und Zeit</h3>
      <p>{{ formatStartEnd event.start event.end }}</p>
    </div>
    <div class="col-md-6">
      <h3>Ort</h3>
      <p>{{ event.location }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Notizen</h3>
      <p>{{{ convertLineBreaks event.notes }}}</p>
    </div>
    <div class="col-md-6">
      <h3>Tags</h3>
      <p>
        {{#each tags}}
          <span class="label label-default">{{ this }}</span>
        {{/each}}
      </p>
    </div>
  </div>
  {{#if event.responseRequired }}
    <div class="row">
      <div class="col-md-3" id="attending-summary">
        <h4>Zusammenfassung</h4>
        <p id="attending-total">Anzahl Teilnehmer gesamt: {{ totalNumberAttending }}</p>
          <p>Anzahl Teilnehmer je Team:</p>
          <ul id="attending-by-team">
            {{#each teamsOfRespondents}}
              <li data-team-id="{{ _id }}">{{ name }}: {{ numberOfRespondents }}</li>
            {{/each}}
          </ul>
      </div>
      <div class="col-md-9">
        <div class="row" id="responses">
          <div class="col-md-4" id="attending">
            <h4>Anwesend</h4>
            {{#each positions}}
              <table class="table table-condensed table-hover table-striped tablesorter" id="{{ this }}">
                <thead>
                <tr class="success">
                  <th>{{ this }} ({{ numberOfRelevantYeses }})</th>
                  {{#if currentUserIsAdmin}}<th class="hidden-xs"></th>{{/if}}
                </tr>
                </thead>
                <tbody>
                {{#each relevantYeses}}
                  <tr class="success" data-user-id="{{userId}}">
                    <td>
                      {{ getUsername }}
                      {{#if messageAvailable}}
                        <span class="message badge" data-toggle="popover" data-title="Nachricht"
                              data-content="{{ getMessageOrNoteOfAbsence }}" data-trigger="hover" data-container="#responses">
                    <span class="glyphicon glyphicon-envelope"></span>
                  </span>
                      {{/if}}
                    </td>
                    {{#if currentUserIsAdmin}}
                      <td class="text-right">
                        <button class="btn btn-xs btn-default switch-response attending">
                          <span class="fa fa-refresh"></span>
                        </button>
                      </td>
                    {{/if}}
                  </tr>
                {{/each}}
                </tbody>
              </table>
            {{/each}}
          </div>
          <div class="col-md-4">
            <h4>Nicht anwesend</h4>
            <table class="table table-condensed table-hover table-striped tablesorter" id="not-attending">
              <thead>
              <tr class="danger">
                <th>Name</th>
                {{#if currentUserIsAdmin}}<th class="hidden-xs"></th>{{/if}}
              </tr>
              </thead>
              <tbody>
              {{#each nos}}
                <tr class="danger" data-user-id="{{userId}}">
                  <td>
                    {{ getUsername }}
                    {{#if messageAvailable}}
                      <span class="message badge" data-toggle="popover" data-title="Nachricht"
                            data-content="{{ getMessageOrNoteOfAbsence }}" data-trigger="hover" data-container="#responses">
                        <span class="glyphicon glyphicon-envelope"></span>
                      </span>
                    {{/if}}
                  </td>
                  {{#if currentUserIsAdmin}}
                    <td class="text-right">
                      <button class="btn btn-xs btn-default switch-response not-attending">
                        <span class="fa fa-refresh"></span>
                      </button>
                    </td>
                  {{/if}}
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
          <div class="col-md-4">
            <h4>Unbekannt</h4>
            <table class="table table-condensed table-hover table-striped tablesorter" id="unknown">
              <thead>
              <tr>
                <th>Name</th>
                {{#if currentUserIsAdmin}}<th></th>{{/if}}
              </tr>
              </thead>
              <tbody>
              {{#each usersWithNoResponse}}
                <tr data-user-id="{{_id}}">
                  <td>
                    {{ profile.firstName }} {{ profile.lastName }}
                    {{#if userHasAbsence}}
                      <span class="message badge" data-toggle="popover" data-title="Nachricht"
                            data-content="{{ getAbsence }}" data-trigger="hover" data-container="#responses">
                    <span class="glyphicon glyphicon-envelope"></span>
                  </span>
                    {{/if}}
                  </td>
                  {{#if currentUserIsAdmin}}
                    <td class="text-right">
                      <div class="btn-group-xs">
                        <button class="btn btn-default add-response attending">
                          <span class="fa fa-plus"></span>
                        </button>
                        <button class="btn btn-default add-response not-attending">
                          <span class="fa fa-minus"></span>
                        </button>
                      </div>
                    </td>
                  {{/if}}
                </tr>
              {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  {{/if}}
</template>